@model Project.Models.PointOfInterest

@{
    ViewBag.Title = "Create POI";
}

<h2>Create Point Of Interest</h2>

@using (Html.BeginForm("CreatePOI", "Route", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Point Of Interest Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.POI_Name, "Point of Interest Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.POI_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.POI_Name, "", new { @class = "text-danger" }, "Error")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.POI_Information, "Point of Interest Info", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.POI_Information, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.POI_Information, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.POI_PictureID, "Picture", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="upload" />
                @*@Html.EditorFor(model => model.profilePictureID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.profilePictureID, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
