@model Project.Models.Route

@{
    ViewBag.Title = "RouteDetails";
}

<h2>RouteDetails</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Route Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.routeName)
        </dd>

        <dt>
           Route Start
        </dt>

        <dd>
            @Html.DisplayFor(model => model.routeStart)
        </dd>

        <dt>
            Route End
        </dt>

        <dd>
            @Html.DisplayFor(model => model.routeEnd)
        </dd>

        <dt>
            Distance Covered
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distanceCovered)
        </dd>

        <dt>
            Achievement Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achievement.achievementName)
        </dd>


    </dl>
</div>
<p>
	@*@Html.ActionLink("Edit", "Edit", new { id = Model.routeID }) |*@
	@Html.ActionLink("Back to List", "ManageRoute")
</p>
