@model IEnumerable<Project.Models.GroupChallenge>
@{
    ViewBag.Title = "Manage Group Challenge";
}
<h2>Manage Group Challenge</h2>
<p>
    @Html.ActionLink("Create New", "CreateGroupChallenge")
</p>
<table class="table">
    <tr>
        <th>
            <h4>Achievement</h4>
        </th>
        <th>
            <h4>Challenge</h4>
        </th>
        <th>
            <h4>Description</h4>
        </th>
        <th>
            <h4>Distance</h4>
        </th>
        <th>
            <h4>Starting Time</h4>
        </th>
        <th>
            <h4>Ending Time</h4>
        </th>
        <th>
            <h4>Gender</h4>
        </th>
        <th>
            <h4>Lowest age limit</h4>
        </th>
        <th>
            <h4>Highest age limit</h4>
        </th>
        <th>
            <h4>Year in course</h4>
        </th>
        <th>
            <h4>Course faculty</h4>
        </th>
        <th>
            <h4>User type</h4>
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Achievement.achievementName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groupChallengeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groupChallengeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groupChallengeDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groupChallengeTimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groupChallengeTimeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groupChallengeGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groupChallengeAgeLowerBound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groupChallengeAgeUpperBound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groupChallengeDegreeYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groupChallengeDegreeFaculty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groupChallengeUserType)
            </td>
            <td>
                @Html.ActionLink("Edit", "GroupEdit", new { id = item.groupChallengeID }) |
                @Html.ActionLink("Details", "GroupDetails", new { id = item.groupChallengeID }) |
                @Html.ActionLink("Delete", "GroupDelete", new { id = item.groupChallengeID })
            </td>
        </tr>
    }
</table>
