@model Project.Models.GroupChallenge
@{
    ViewBag.Title = "SelectedJoinGroupChallenge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Join Group Challenge</h2>
<h3>Are you sure you want to join this challenge?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Challenge
        </dt>
        <dd>
            @Html.DisplayFor(model => model.groupChallengeName)
        </dd>
        <dt>
            Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.groupChallengeDescription)
        </dd>
        <dt>
            Distance
        </dt>
        <dd>
            @Html.DisplayFor(model => model.groupChallengeDistance)
        </dd>
        <dt>
            Starting Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.groupChallengeTimeStart)
        </dd>
        <dt>
            Ending Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.groupChallengeTimeEnd)
        </dd>
        <dt>
            Gender
        </dt>
        <dd>
            @Html.DisplayFor(model => model.groupChallengeGender)
        </dd>
        <dt>
            Lowest age limit
        </dt>
        <dd>
            @Html.DisplayFor(model => model.groupChallengeAgeLowerBound)
        </dd>
        <dt>
            Highest age limit
        </dt>
        <dd>
            @Html.DisplayFor(model => model.groupChallengeAgeUpperBound)
        </dd>
        <dt>
            Year in course
        </dt>
        <dd>
            @Html.DisplayFor(model => model.groupChallengeDegreeYear)
        </dd>
        <dt>
            Course Faculty
        </dt>
        <dd>
            @Html.DisplayFor(model => model.groupChallengeDegreeFaculty)
        </dd>
        <dt>
            User type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.groupChallengeUserType)
        </dd>
        <dt>
            Achievement
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Achievement.achievementName)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Join" class="btn btn-default" />
            @Html.ActionLink("Back", "JoinGroupChallenge")
        </div>
    }
</div>