@model Project.Models.User

@{
    ViewBag.Title = "Edit Profile";
}

<h2>Edit Profile</h2>

@using (Html.BeginForm("EditProfile", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>User</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @* HIDDEN VALUES USED TO STORE THINGS NOT TO BE CHANGED BY USER *@

    @Html.HiddenFor(model => model.userID)
    @Html.HiddenFor(model => model.totDistanceTravelled)
    @Html.HiddenFor(model => model.typeOfUser)

    <div class="form-group">
        @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.surname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dateOfBirth, new { htmlAttributes = new { @class = "datepicker form-control", placeholder = "dd/mm/yyyy" } })
            @*@Html.TextBoxFor(model => model.dateOfBirth, new { @class = "datepicker form-control" })*@
            @Html.ValidationMessageFor(model => model.dateOfBirth, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.gender, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownListFor(model => model.gender, new SelectList(ViewBag.GenderList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.yearOfStudy, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.yearOfStudy, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownListFor(model => model.yearOfStudy, new SelectList(ViewBag.YearList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.yearOfStudy, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.degreeFaculty, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.degreeFaculty, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownListFor(model => model.degreeFaculty, new SelectList(ViewBag.FacultyList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.degreeFaculty, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.emailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.emailAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.emailAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.profilePictureID, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.HiddenFor(model => model.profilePictureID)
        <div class="col-md-10">
            <div id="profilePicture">
                <img alt="Profile Picture" width="200" src="@ViewBag.Image" />
            </div>
            <input type="file" name="upload" />
            @*@Html.EditorFor(model => model.profilePictureID, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.profilePictureID, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />

    <div class="form-group">
        Only if you want to change your password then modify the password fields below
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.password, "Enter New Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>

    @* MAKE SURE TO FILL CONFIRM PASSWORD WITH SOME VALUE *@

    <div class="form-group">
        @Html.LabelFor(model => model.confirmPassword, "Confirm New Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <a href="@Url.Action("ViewProfile", "Home")" class="btn btn-default">
        Return To Profile
        @*<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>*@
    </a>
</div>

@section scripts{
    <script type="text/javascript">
        //...
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy', //choose the date format you prefer
            language: "en-ZA",
            orientation: 'left bottom'
        });
    </script>
}