@Scripts.Render("~/bundles/jqueryval")
@model Project.Models.DistanceLogger
@{
    ViewBag.Title = "Log Distance ";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Enter Data</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.newLog.logDistance, "Enter a distance: (km)", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.newLog.logDistance, null, "logDistance", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.newLog.logDistance, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        @{
                            string Disabled = "";
                            if (Model.alreadyLogged)
                            {
                                Disabled = "disabled";
                            }
                        }
                        <input type="submit" value="Log Distance" class="btn btn-default" @Disabled />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-7">
        <hr />
        <div>
            <h3>
                @{
                    String RouteName = "None";
                    if (Model.currentRoute != null)
                    {
                        RouteName = Model.currentRoute.routeName;
                    }
                }
                Current Route: @RouteName
            </h3>
        </div>
        <br />
        <table class="table">
            <tr>
                <td align="center">
                    <b>
                        Date
                    </b>
                </td>
                <td align="center">
                    <b>
                        Distance (km)
                    </b>
                </td>
            </tr>
            @{
                double total = 0;
                foreach (var currentLog in Model.distanceLogs)
                {
                    <tr>
                        <td align="right">
                            @Html.DisplayFor(modelItem => currentLog.dateTimeCaptured)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => currentLog.logDistance)
                        </td>
                    </tr>
                    total += currentLog.logDistance;
                }
            }
            <tr>
                <td></td>
                <td align="right">
                    Total Distance: @total
                </td>
            </tr>
        </table>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>